{#
 |------------------------------------------------------------------------------
 | Breadcrumb
 |------------------------------------------------------------------------------
#}

{% set breadcrumb = craft.breadcrumb.config %}
{% if breadcrumb %}
<nav id="wb-bc"  property="breadcrumb">
    <h2 class="wb-inv">{{ 'You are here:'|t }}</h2>
    <div class="container">
        <ol class='breadcrumb'>
            {% for crumb in breadcrumb  %}
                <li class="c-breadcrumb__item">
                    <a class="c-breadcrumb__link" href="{{ crumb.url }}">
                        {# @todo: remove this dirty hack and find out why the title is Home on the french site #}
                        {% if shortlang == 'fr' and crumb.title == 'Home' %}
                            <span>Accueil</span>
                        {% else %}
                            <span>{{ crumb.title }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
</nav>
{% endif %}
